

@import "_variables";
@import "header";
@import "landing";
@import "article/view-article";


body {
	background-color: #edeef0;
	font-family: 'Open Sans', sans-serif;
}

.text-center {
	text-align: center;
}

.container {
	max-width: 1000px !important;
}

.clearfix {
	clear: both;
    content: "";
    display: block;
}

.oszto {
	background-color: #e6e6e6;
	height: 3px;
	.belso-oszto {
		height: 3px;
		width: 30px;
		background-color: #adadad;
	}
}

