.wrap-landing-page {
		max-width: 1000px;
		margin: 0 auto;	

	.tartalom {

		display: flex;

		.left-bar {
			padding: 15px;
			@media  (max-width: 660px) {
				display: none;
			}
			@media  (min-width: 661px) {
				display: block;
				min-width: 220px;
			}			

			.kategoriak {
				display: flex;
				flex-direction: column;

				.kategoria {
					display: flex;
					justify-content: space-between;
					color: #777;					
					font-weight: bold;
					text-shadow: 0 0 0 #fff;
					padding: 8px 8px;
					border-left: solid 3px;					

					&:hover {
						background-color: #e4e4e4;
					}
				}
			}
		}
		.right-bar {
			padding: 20px;			
			display: none;
			@media  (min-width: 790px) {
				display: block;
				min-width: 180px;

			}

			.fejlec {
				text-transform: uppercase;
				color: #676767;
				letter-spacing: 0.5px;				
				padding-bottom: 2px;
				text-shadow: 0 1px 0 #f1f1f1;
			}

			.countries {
				margin-top: 15px;
				.orszag {
					padding: 3px 0;
				}
			}
		}		

		.main-bar {
			flex: 1;			


			.kiemelt-cikk {				
				border: solid 1px #ddd;
				padding: 5px;
				padding-bottom: 0;
				background-color: #fff;				

				@media  (max-width: 660px) {
					border-width: 1px 0px;
					padding: 15px 0;
				}				

				.kep {
					position: relative;

					img {
						display: block;
						width: 100%;
						margin: 0;	
						min-height: 200px;					
					}

					.kategoria {
						position: absolute;
						top: 10px;
						left: 10px;
					}


					.cim {
						position: absolute;
						bottom: 15px;
						left: 15px;						
						padding: 3px 15px;
						max-width: 90%;
						margin: 0;						
						background-color: rgba(255,255,255,0.8);
						

						h3, a {
							color: rgba(0,0,0,0.8);
							font-size: 26px;

							@media  (max-width: 660px) {
								font-size: 16px;			
							}								
						}

					}				
				}

				.szoveg {
					padding: 5px 15px;								

					.cim h3, .cim a {
						font-size: 24px;
						padding: 0;
						margin: 0;
						color: #555;

						@media  (max-width: 660px) {
							font-size: 20px;			
						}
					}

					.infok {
						display: flex;
						justify-content: space-between;
						align-items: center;
						padding: 5px 0;						

						.datum {
							position: relative;
							top: 2px;
							font-size: 10px;
							color: #888;							
							margin-bottom: 5px;
						}

						.bovebben {
							a {
								font-size: 11px;
								border-radius: 0;
								margin: 0;
							}
						}
					}
				}


			}

			.divider-aktualis {
				margin: 20px 0;
				text-transform: uppercase;
			}

			.aktualis-cikkek {
				.cikk {
					display: flex;
					margin: 20px 0;
					box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
					background-color: #fff;													
					@media  (max-width: 440px) {
						border-width: 1px 0;
						flex-direction: column;
					}

					.kep {
						text-align: center;
						position: relative;
						display: block;
						padding: 5px;
						max-width: 43%;
						@media  (max-width: 660px) {
							max-width: 100%;
						}

						img {
							display: block;
							margin: 0;
							width: 100%;	

						}

						.kategoria {
							position: absolute;
							top: 10px;
							left: 10px;
						}
					}

					.szoveg {
						position: relative;
						flex: 1;
						padding: 15px;
						padding-top: 10px;
						.cim {

							h4, a {
								font-size: 20px;
								color: #2d2d2d;
								font-weight: normal;
								@media  (max-width: 660px) {
									//font-size: 36px;
								}

								&:hover {
									color: #4d4d4d;
								}
							}
						}

						.infok {
							margin-top: 5px;


							.datum {
								font-size: 11px;
								color: #bbb3b3;
							}
						}

						.bovebben {
							position: absolute;
							bottom: 15px;
							left: 15px;		
							font-size: 11px;

							@media  (max-width: 660px) {
								position: relative;
								top: 0;
								right: 0;
								margin-top: 10px;
							}
							a {
								color: $primColor;
							}
						}
					}
				}
			}
		}
	}
}

@media  (max-width: 660px) {
	.wrap-landing-page {
		
		.left-bar, .right-bar {
			display: none;
		}
		
		.szoveg h3 {
			
		}		

	}
}